body{
	margin: auto;
	font-family: Arial;
}

.smallbox{
	width: 40px;
	}

#menu{
	padding-top: 50px;
	font-weight: bold;
	font-size: 25px;
	width: 80%;
	text-align: center;
	margin: auto;
	line-height: 2;
}
#submenu{
	display: none;
	padding-top: 20px;
	font-weight: normal;
	font-size: 19px;
	width: 80%;
	text-align: left;
	font-family: Optima;

}
.sel{
	height: 30px;
	width: 150px;
	font-size: 20px;
	border: none;
	border-bottom: 2px dotted black;
}
.but{
	height: 35px;
	width:70px;
	font-size: 15px;
	color: white;
	background-color: black;
	border-style: none;
	border-radius: 8px;
	display: inline;
}
#loading{
	margin-left: 29px;
	height:22px;
	display: none;
	border-style: 1px solid black;
}
#text{
	width:80%;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.plothere{
	width: 80%;
	margin: auto;
	padding-top: 30px;
}
.line{
	border-bottom: 3px dashed black;
	width: 80%;
	margin: auto;
	padding-top: 50px;
}