body{
	width: 80%;
	margin: auto;
	font-family: Arial;
}
.smallbox{
	width: 40px;
	}

#menu{
	padding-top: 50px;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin: auto;
	line-height: 2;
}
#submenu{
	display: none;
	padding-top: 20px;
	font-weight: normal;
	font-size: 19px;
	text-align: left;
	font-family: Times;
}
#abmenu{
	padding-top: 50px;
}
.col{
	width: 33%;
  	padding-left: 5%;

}
.sel{
	height: 30px;
	width: 150px;
	font-size: 20px;
	border: none;
	border-bottom: 2px dotted black;
}
.but{
	height: 35px;
	width:75px;
	font-size: 13px;
	color: white;
	background-color: black;
	border-style: none;
	border-radius: 8px;
	display: inline;
	cursor: pointer;
}
#loading{
	margin-left: 29px;
	height:22px;
	display: none;
}
#text{
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
#message{
	display: none;
	text-align: center;
	color: red;
}
.plothere{
	width: 100%;
	margin: auto;
	padding-top: 30px;
}
.line{
	border-bottom: 3px dashed black;
	margin: auto;
	padding-top: 50px;
}
select{
	cursor: pointer;
}
input{
	cursor: pointer;
}